https://gist.github.com/895916 ASP.net
http://nginx.org/   Nginx
http://mislav.uniqpath.com/poignant-guide/book/chapter-2.html Ruby
http://www.sinatrarb.com/ Sinatra
http://mootools.net Mootools
http://haml-lang.com/ Haml
http://sass-lang.com/ Sass
http://redis.io/    Redis
http://memcached.org/ Memcached

http://eeven.envoked.com/                            Eeven
http://github.com/envoked/eeven                      Source
https://github.com/envoked/Eeven/commits/master                      Blog