!!! XML
!!!
%html
    %head
        %title CSS Transforms
        %link{:href => '/stylesheets/main.css', :rel => 'stylesheet', :type => 'text/css'}
        %script{:type=>"text/javascript",
                :src=>"firmin.min.js"} 
        %script{:type=>"text/javascript",
                :src=>"main.js"} 
    %body
        %h2 Hello